exportPattern("^[[:alpha:]]+")
Package :: fars_read()
export(make_filename)
export(fars_read_years)
export(fars_summarize_years)
export(fars_map_state)
importFrom(dplyr,bind_rows)
importFrom(dplyr,filter)
importFrom(dplyr,group_by)
importFrom(dplyr,mutate)
importFrom(dplyr,n)
importFrom(dplyr,select)
importFrom(dplyr,summarize)
importFrom(graphics,points)
importFrom(magrittr,"%>%")
importFrom(maps,map)
importFrom(readr,read_csv)
importFrom(tidyr,spread)
